.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  margin: 1rem 0;
  button.card__close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
