.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modalButton {
  min-width: 96px;
}

// TODO: Use theme colors instead of hardcoded values
.iconButton {
  color: #1976d2 !important;
}
